*{
    align-items: center;
    background-image: src="img/tunel";
}

h2{
    display: flex;
    justify-content: center;
}
table{
    display: block;
    justify-items: center;
    margin-left: 30%;
    margin-right: 33%;
    padding-top: 30px;
}
